.form-group {
  margin-bottom: 12px;
}

.icon-foot {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  border: solid 1px #bab7b7;
  text-align: center;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  font-size: 19px;
  font-weight: 600;
}

